<%# _navbar_header_non_index_pages.html.erb %>


        <!-- Navbar: Header -->


    <nav class="navbar navbar-default" id="navbar_header_non_index_pages">
      <section class="container-fluid">
        <section class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="#">              </a>
        </section>
        <section class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li>
              <a href="index-home.html"><img class="danish-flag img-circle" src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/danish_flag.gif" alt="Danish Flag"></a>    
              <!-- Danish Flag -->
            </li>
            <li>
              <h2 class="danebook-header">    Danebook     </h2>
            </li>
            <li>
              <form class="form-inline">
                <section class="form-group">
                  <input class="search-for-users" style="width=1750px;" type="search" placeholder="Search for Users">
                  <!-- Search bar -->
                </section>
              </form>
            </li> 
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <h4 class="harry">Harry</h4>
            </li> 
          </ul>
        </section>
      </section>
    </nav>

