<%# _navbar_header_index_page.html.erb %>

  <!-- Header - Log In -->
  <nav class="container-fluid">
    <section class="row">

<!-- close and collapse - expandable button  -->

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="#"> </a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">

<!-- end of: close and collapse - expandable button  -->



        <section class="col-md-2 project-name">
          <h1>Danebook</h1>
        </section>

        <form>
          <section class="col-md-2 col-md-offset-4 email">
            <label>
              <a>Email</a>
              <input type="email" name="email-address">
            </label>
          </section>

          <section class="col-md-2 password">
            <label>
              <a>Password</a>
              <input type="password" name="password">
            </label>
          </section>

          <section class="col-md-1 log-in">
            <button name="submit" class="btn">
              <strong>Log In</strong>
            </button>        
          </section>
        </form>

      </div> <!-- close of toggle and collapse section -->

    </section>
  </nav>

